.nav-container {
    background-color: #353a40;
    color: #FFFFFF;
}

.menu-ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    justify-content: flex-end;
}

.img-banner {
    filter: brightness(0.5)
}

.div-banner {
    margin-left: 35%;
    margin-bottom: 20%;
}

.div-banner p {
    font-size: 100%;
    font-weight: 200;
    text-align: end;
}

.div-banner h2 {
    text-align: end;
}

.div-botones {
    text-align: end;
}

.div-oradores {
    text-align: center;
    margin: 2%;
}

.div-card {
    text-align: start;
}

.div-honolulu {
    width: 102%;
    margin: 0;
}

.div-bsas {
    background-color: #353a40;
    margin: 0;
    color: #FFFFFF;
    padding: 2%;
}

.p-bsas {
    font-size: 90%;
    font-weight: 200;
}

.div-form {
    text-align: center;
    margin: 2%;
}

.formulario {
    display: flex;
    flex-direction: row;
}

form {
    width: 60%;
    margin: auto;
}

.input-form {
    width: calc(100% - 16px);
}

.footer {
    display: flex;
    flex-direction: row;
    height: 5rem;
    align-items: center;
}

.div-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background: rgb(29, 55, 68);
    background: linear-gradient(90deg, rgba(29, 55, 68, 1) 0%, rgba(29, 82, 113, 1) 48%);
    margin-top: 2%;
}

.ul-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.container-honolulu {
    margin-top: 2%;
    margin-bottom: 2%;
}